

<div class="container">
	<div class="row">
    
  </div>
		
        <div class="modal fade" id="forgetPasswdModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Forgot your passowrd?</h4>
            </div>
          <div class="modal-body">

            <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <p>
                <%= f.email_field :email, autofocus: true, class: 'span3', placeholder: 'Email' %>
              </p>
              
              <p>
                 <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
              </p>
              <br/>
               <mark> Please check your spam box if you couldn't find the instructions in your email inbox</mark>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
	</div>
</div>