<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-circle img-responsive" src="" alt="">
                <div class="intro-text">
                    <span class="name">Whats your coolest happyshot?</span>
                    <br/>
                    
                    <span class="skills"></span>
                </div>
                <span class="options-button-group">
                 
                    <span id="trigerModal" class="btn btn-lg btn-outline" data-toggle="modal" 
                    data-target="#newShotModal">
                    <i class="fa fa-upload"></i> Create Your Happy Shot Now
                </span>
                
            </span>
        </div>
    </div>
</div>
</header>
