<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-circle img-responsive" src="" alt="">
                    <div class="intro-text">
                        <span class="name">Upload Your happy shot</span>
                        <br/>
                        <hr class="star-light">
                        <span class="skills"></span>
                    </div>
                    <span class="options-button-group">
                       
                    <span id="create-gif" class="btn btn-lg btn-outline create-gif-button">
                        <i class="fa fa-upload"></i> Upload Your Happy Face Shot
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </header>