<div class="modal fade" id="newShotModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Post a happyshot</h4>
      </div>
      <%= bootstrap_form_for(@post) do |f| %>
      <div class="modal-body">
         <span class="options-button-group">
            <button type="button" id="create-gif" class="btn btn-large btn-primary create-gif-button">Webcam Gif</button>
          </span>
          <span class="options-button-group">
            <button type="button" id="create-gif" class="btn btn-large btn-primary create-gif-button">Video GIF</button>
          </span>


        <div class="placeholder-div hidden">
          <span class="placeholder-div-dimensions"></span>
        </div>
        <progress max="1" value="0" class="gifshot-progress-bar hidden"></progress>

        <div class="fileinput fileinput-new" data-provides="fileinput">
        <div id="gif-preview" class="gifshot-image-preview-section thumbnail" data-trigger="fileinput" style="width: 300px; height: 300px;"></div>
        <div>
         <%= f.text_area :note, id: 'notearea', class: 'input-medium', hide_label: 'true', placeholder: 'Say something', required: 'true', :maxlength => 130%>
          <div id="textarea_feedback"></div>
        </div>
      </div>


         <%= f.text_area :image, :class=>"gifshot-image-preview-section hidden", :id=>"gifData", hide_label: 'true' %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit :class=>"btn btn-primary" %>
      </div>
      <% end %>


      

      <script>
         $("#gif-preview").bind("DOMSubtreeModified", function() {
                 var a=document.querySelector('.gifshot-image-preview-section').innerHTML;
             var b=$(a).attr('src');
            document.getElementById("gifData").value=b;
          // }
          });
      </script>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
$(document).ready(function() {
    var text_max = 130;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#notearea').keyup(function() {
        var text_length = $('#notearea').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});
</script>