<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <%= form_for(@post) do |f| %>
      <div class="modal-body">
         <span class="options-button-group">
            <button type="button" id="create-gif" class="btn btn-large btn-primary create-gif-button">Webcam Gif</button>
          </span>
          <span class="options-button-group">
            <button type="button" id="create-gif" class="btn btn-large btn-primary create-gif-button">Video GIF</button>
          </span>


        <section class="gifshot-image-preview-section"></section>
        <div class="placeholder-div hidden">
          <span class="placeholder-div-dimensions"></span>
        </div>
        <progress max="1" value="0" class="gifshot-progress-bar hidden"></progress>
        <%= f.textarea :class=>"input-default" :note %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit :class=>"btn btn-primary" %>
      </div>
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->