
    <section class="success" id="new">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <span class="options-button-group">
                       
                    <span id="create-gif" class="btn btn-lg btn-outline create-gif-button">
                        <i class="fa fa-upload"></i> Upload Your Happy Face Shot
                    </span>
                    </span>
                </div>

            </div>
        </div>
    </section>