
<div class="post">
<section class="gifshot-image-preview-section">
<img src="<%=post.image%>" style="width: 535px;height: 535px;">
</section>
<%= render :partial => 'comments', :locals=>{:post=>post}  %>
</div>